/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  background:url(../images/bg-3.jpg) top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: 100% auto;
  
  
background-position: center top;
background-color: white;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
  background-color:white;
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/* my css */
div.Middle {
  position: relative;
  margin: 0 auto 15px;
  background-color: white;
  width: 1000px;

}

h1.title {
  visibility: hidden;
}

.edtitle{
  color: #5098ca;
  font-weight:bold;
}
/*home*/
#parent {
    overflow: hidden;
    border-style: solid;
border-width: 1px 0px 1px 0px;
}
.right {
    float: right;
    width: 760px;
    height: 320px;
	border-style: solid;
border-width: 0px 0px 0px 1px;
	padding: 15px;
}
.left {
    overflow: hidden;
    height: 320px;
	padding: 15px;
}



.cont-line-left { 
border-style: solid;
border-width: 1px 0px 1px 0px;
}

.cont-line-right { background:url(images/bg-line.gif) repeat-y 759px 0; width:100%; overflow:hidden}
#right-col .content, #right-col .title h3 { padding-left:17px; padding-right:1px}

#cont { overflow:hidden; width:100%; background:#FFF;}

#left-col { width:249px; float:left; position:relative; margin-right:-250px;
border-style: solid;
border-width: 0px 1px 0px 0px;
height: 312px;
}
#left-col .ind { padding:18px 0px 50px 0px;}

#cont-col { float:left; width:100%;}
#cont-col .ind { padding:0px 0px 0px 280px;}

#right-col { width:199px; float:left; margin-left:-199px;}
#right-col .ind { padding:10px 0px 50px 0px;}

div.block { margin-bottom:0px; color:#363638; position:relative; overflow:hidden; width:100%;}

.block .title { padding:0; width:100%;}

/*----NAVIGATION----*/
.content ul.menu { padding-left:0px; padding-bottom:0px; width:100%;}
.content ul.menu li ul.menu { padding-left:10px; width:auto;}
.content ul.menu li { padding:0px 0px 1px 0px; list-style-image:none; list-style:none; margin:0; line-height:normal;line-height:25px; overflow:hidden;background: url(../images/a1.gif) no-repeat 0 6px;
padding-left: 18px;}
.content ul.menu li a {  color:#37ade0; font-size:12px; text-decoration:none; font-weight:normal;  overflow:hidden;
padding-bottom: 10px;}
 .content ul.menu li a:hover{ text-decoration:underline; color:#000}
.content ul.menu li.expanded { padding-bottom:0px;}
.content ul.menu li.expanded ul { padding-top:1px;}

/*------Custom Login-Form------*/
.userlogin { font-size:15px; color:#313030; padding:0px 0px 0px 28px; margin-left:18px; margin-top:20px; font-weight:bold;}
#user-bar { font-size:11px; font-weight:bold; padding:4px 0px 0px 0px;}
#user-bar .user-info { padding-bottom:5px; color:#9df46e; padding-top:10px;}
#user-bar p a { color:#FFF;}
#user-bar .item-list li { list-style:none; list-style-image:none; line-height:10px;}
#user-bar .item-list li a{ font-weight:normal; font-size:10px; color:#b8e836;}
#user-bar .item-list li a:hover {color:#FFF;}

/*----Login-form----*/
#user-login-form { text-align:left; color:#FFF; font-size:12px;}
#user-login-form input#edit-name, #user-login-form input#edit-name-1,
#user-login-form input#edit-pass, #user-login-form input#edit-pass-1 { width:173px; font-size:12px; height:19px; color:#6f6f6f; background:#FFF; border:1px solid #dcdcdc; padding:2px 0px 0px 5px;}
#user-login-form label { color:#999999; font-size:12px; font-weight:normal; padding:0px 0px 5px 0px; line-height:normal;}
#user-login-form .form-required { color:#999999;}
#user-login-form .description a { color:#47a4bb;}
#user-login-form .item-list ul { padding:20px 0px 5px 0px; margin:0;}
#user-login-form .item-list li{ line-height:20px; list-style:none; list-style-image:none; margin:0px; padding:0px;}
#user-login-form .item-list li a{ font-weight:normal; color:#37ade0; text-decoration:underline; font-size:12px;}
#user-login-form .item-list li a:hover{text-decoration:none;}

#user-login-form .form-submit{ background:url(images/login.gif) top left no-repeat; border:none; width:47px; height:21px; margin:11px 0px 0px 0px; color:#FFF; font-size:12px; padding:2px 0px 3px 0px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}

#user-login-form .form-item { margin-top:0px; margin-bottom:14px;}

img.alignleft {
float: left;
margin-right: 21px;
}

/*-------------------------*/

/*contact us*/
.cont-line-left-contactus { padding-top: 50px;}
.cont-line-right { background:url(images/bg-line.gif) repeat-y 759px 0; width:100%; overflow:hidden}
#right-col .content, #right-col .title h3 { padding-left:17px; padding-right:1px}

#cont { overflow:hidden; width:100%; background:#FFF;}

#left-col-contact { width:399px; float:left; position:relative; margin-right:-400px;
height: 385px;
}
#left-col .ind { padding:18px 0px 50px 0px;}

#cont-col-contactus { float:right; width:600px;
}
#cont-col .ind { padding:0px 0px 0px 280px;}

#right-col { width:199px; float:left; margin-left:-199px;}
#right-col .ind { padding:10px 0px 50px 0px;}

div.block { margin-bottom:0px; color:#363638; position:relative; overflow:hidden; width:100%;}

.block .title { padding:0; width:100%;}



/*------Custom Login-Form------*/
.userlogin { font-size:15px; color:#313030; padding:0px 0px 0px 28px; margin-left:18px; margin-top:20px; font-weight:bold;}
#user-bar { font-size:11px; font-weight:bold; padding:4px 0px 0px 0px;}
#user-bar .user-info { padding-bottom:5px; color:#9df46e; padding-top:10px;}
#user-bar p a { color:#FFF;}
#user-bar .item-list li { list-style:none; list-style-image:none; line-height:10px;}
#user-bar .item-list li a{ font-weight:normal; font-size:10px; color:#b8e836;}
#user-bar .item-list li a:hover {color:#FFF;}

/*----Login-form----*/
#user-login-form { text-align:left; color:#FFF; font-size:12px;}
#user-login-form input#edit-name, #user-login-form input#edit-name-1,
#user-login-form input#edit-pass, #user-login-form input#edit-pass-1 { width:173px; font-size:12px; height:19px; color:#6f6f6f; background:#FFF; border:1px solid #dcdcdc; padding:2px 0px 0px 5px;}
#user-login-form label { color:#999999; font-size:12px; font-weight:normal; padding:0px 0px 5px 0px; line-height:normal;}
#user-login-form .form-required { color:#999999;}
#user-login-form .description a { color:#47a4bb;}
#user-login-form .item-list ul { padding:20px 0px 5px 0px; margin:0;}
#user-login-form .item-list li{ line-height:20px; list-style:none; list-style-image:none; margin:0px; padding:0px;}
#user-login-form .item-list li a{ font-weight:normal; color:#37ade0; text-decoration:underline; font-size:12px;}
#user-login-form .item-list li a:hover{text-decoration:none;}

#user-login-form .form-submit{ background:url(images/login.gif) top left no-repeat; border:none; width:47px; height:21px; margin:11px 0px 0px 0px; color:#FFF; font-size:12px; padding:2px 0px 3px 0px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}

#user-login-form .form-item { margin-top:0px; margin-bottom:14px;}

img.alignleft {
float: left;
margin-right: 21px;
}

/*----Safety----*/
div.SafetyPage{
Padding: 30px 0px 30px 0px;
}


/*-------------------------*/
#footer{
padding: 20px 0;
text-align: right;

}

#footer p{
display: block;
margin: 0;
font: normal 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #AFAD9E;
}

#footer a{
color: #AFAD9E;
}

